*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 2rem;
}

.board{
    width: calc(4rem * 8);
    height: calc(4rem * 8);
    display: flex;
    flex-wrap: wrap;
}
.board-title{
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}
.cell{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    width: 3rem;
    height: 3rem;
    position: relative;
}
.black{
    background-color: rgba(0, 0, 0, 0.716);
}
.white{
    background-color: rgba(255, 166, 0, 0.547);
}

.selected {
    background-color: brown;
}
.available{
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.67);
}

.lost-figures{
    height: 50vh;
    padding: 2rem;
    margin-left: 3rem;
    background-color: gray;
}
.lost-figures:first-child{
    margin-top: 2rem;
}

.name-figure-lost{
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 0.3rem;
}

.timer{
    margin-top: 10rem;
    margin-right: 3rem;
    text-align: center;
}
.btn-timer{
    background-color: rgba(0, 0, 255, 0.76);
    color: #fff;
    font-size: 1.1rem;
    padding: 0.25rem 0.4rem;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
}