*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.board{
    width: calc(4rem * 8);
    height: calc(4rem * 8);
    display: flex;
    flex-wrap: wrap;
}
.cell{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    width: 3rem;
    height: 3rem;
    position: relative;
}
.black{
    background-color: rgba(0, 0, 0, 0.814);
}
.white{
    background-color: rgba(255, 166, 0, 0.547);
}

.selected {
    background-color: brown;
}
.available{
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.67);
}

.lost-figures{
    height: calc(50vh-3.75rem);
    padding: 2rem;
    margin-left: 3rem;
    background-color: lightgray;
}